


    <!-- =========================
     START CONTCT FORM AREA
     ============================== -->
     <section class="contact page" id="form1-4">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>ENVIE SU MENSAJE</h2>
                        <p>Que le parecio el aplicativo web, y si desea puede hacer sugerencias para agregar a la pagina</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">

                    <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Please Enter your name</div>
                        <div class="email_error hide error">Please Enter your Email</div>
                        <div class="email_val_error hide error">Please Enter a Valid Email Address</div>
                        <div class="message_error hide error">Please Enter Your Message</div>
                    </div>
                    <div class="Sucess"></div>
                    <!-- END ERROR AND SUCCESS MESSAGE -->

                    <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.-->
                    <div  data-form-type="formoid">   
                    <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form">
                        <input type="hidden" name="email" data-form-email="true" value="iQJwGRRiPF6JBUDvSdlHsefKSu0ZP+LSu95qVKbMo41eRH46sEGzgvPn8ucOHV7IYSnMURG2k1ePFEdr7GJMjYC4mmwpGLAW65gucoVhs26vxtsrpg+Jm/JFVTnBD9FX">

                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Mensaje enviado!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div  data-for="name">
                                    <input type="text" class="form-control" id="name"  placeholder="Name">
                                </div>
                                <div  data-for="email">
                                    <input type="email" class="form-control" id="email"  placeholder="Email">
                                </div>
                                <div data-for="phone">
                                    <input type="text" class="form-control" id="subject"  placeholder="Subject">
                                </div>
                            </div>


                            <div class="col-md-8" data-form-field="Message">
                                <textarea class="form-control" id="message-form1-4" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                            </div>
                            <div class="col-md-8  "  >
                                <button type="submit" class="btn btn-default submit-btn form_submit" href="mailto:hans.iv.71@gmail.com">ENVIAR MENSAJE</button>
                            </div>
                        </div>
                    </form>
                    </div>
                    <!-- END FORM --> 
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                            <ul>
                                <li><a target="_blank" [href]="servicio.info.facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a target="_blank" [href]="servicio.info.twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a target="_blank" [href]="servicio.info.pagina_autor"><i class="fa fa-dribbble"></i></a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->


   